{% if pages > 1 %}
    <ul class="uk-pagination" uk-margin>
        <li>
            {% if currentPage > 1 %}
                <a class="uk-link" href="{{ path(path, {id: id_tricks, id_tricks: id_tricks, page: currentPage - 1}) }}">
                    <span uk-pagination-previous></span>
                    Précédent
                </a>
            {% else %}
                <span uk-pagination-previous></span>
                Précédent
            {% endif %}    
        </li>

        {% for page in 1..pages %}
            {% if page == currentPage %}
                <li class="uk-active"><span>{{ page }}</span></li>
            {% else %}
                <li><a class="uk-link" href="{{ path(path, {id: id_tricks, id_tricks: id_tricks, page: page}) }}">{{ page }}</a></li>
            {% endif %}
        {% endfor %}

        <li>
            {% if currentPage < pages %}
                <a class="uk-link" href="{{ path(path, {id: id_tricks, id_tricks: id_tricks, page: currentPage + 1}) }}">
                    <span uk-pagination-next></span>
                    Suivant
                </a>
            {% else %}
                <span uk-pagination-next></span>
                Suivant
            {% endif %} 
        </li>
    </ul>
{% endif %}

