{% extends 'baseAuth.html.twig' %}

{% block title %}Inscription{% endblock %}

{% block body %}
    <nav class="uk-navbar-container uk-navbar-transparent uk-animation-slide-top-medium" uk-navbar id="main-top">
        <div class="uk-navbar-right ">
            <ul class="uk-navbar-nav">
                <li><a class="uk-text-primary link-nav" href="/">Acceuil</a></li>
            </ul>
        </div>
    </nav>
    <div class="container-register-login">
        <div uk-alert class="notice-register">
            <h3>Notice</h3>
            <p>Le mot de passe doit contenir au moins 8 caractères, dont une lettre majuscule et un caractère spécial.</p>
            <a class="uk-alert-close" uk-close></a>
        </div>
        {{ form_start(registrationForm ,{'attr': {'class': 'form-auth uk-animation-slide-right'}}) }}
            <h1>Inscription</h1>
            {{ form_row(registrationForm.username) }}
            {{ form_row(registrationForm.email) }}
            {{ form_row(registrationForm.plainPassword) }}
            {{ form_row(registrationForm.agreeTerms) }}

            <a href="{{ path('app_login') }}">Vous avez déja un compte ?</a>
            <button type="submit" class="uk-button uk-button-primary btn-register">S'inscrire</button>
        {{ form_end(registrationForm) }}
    </div>


    
{% endblock %}
