<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}Welcome!{% endblock %}</title>
        <link rel="icon" href="data:image/svg+xml,<svg xmlns=%22http://www.w3.org/2000/svg%22 viewBox=%220 0 128 128%22><text y=%221.2em%22 font-size=%2296%22>⚫️</text></svg>">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        {# Run `composer require symfony/webpack-encore-bundle` to start using Symfony UX #}
        
        <!-- Feuilles de style -->
        <link rel="stylesheet" href="{{ asset('assets/css/styles.css') }}">
        <link rel="stylesheet" href="{{ asset('assets/css/responsive.css') }}">
        <link rel="stylesheet" href="{{ asset('assets/css/uikit-rtl.css') }}">
        <link rel="stylesheet" href="{{ asset('assets/css/uikit-rtl.min.css') }}">
        <link rel="stylesheet" href="{{ asset('assets/css/uikit.css') }}">
        <link rel="stylesheet" href="{{ asset('assets/css/uikit.min.css') }}">
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/uikit@3.16.15/dist/css/uikit.min.css" />
        {% block stylesheets %}{% endblock %}

        <!-- Fichier JS -->
        <script src="{{ asset('assets/js/scripts.js') }}" defer></script>
        <script src="{{ asset('assets/js/uikit-icons.js') }}" defer></script>
        <script src="{{ asset('assets/js/uikit-icons.min.js') }}" defer></script>
        <script src="{{ asset('assets/js/uikit.js') }}" defer></script>
        <script src="{{ asset('assets/js/uikit.min.js') }}" defer></script>
        <script src="https://cdn.jsdelivr.net/npm/uikit@3.16.15/dist/js/uikit.min.js"></script>
        <script src="https://cdn.jsdelivr.net/npm/uikit@3.16.15/dist/js/uikit-icons.min.js"></script>
        {% block javascripts %}{% endblock %}
    </head>
    <body>
        {% include "navbar.html.twig" %}
        {% block body %}{% endblock %}
        {% include "footer.html.twig" %}
        
    </body>
</html>
