{% block body %}
    {% if app.user %}
        <nav class="uk-navbar-container uk-position-top uk-navbar-transparent uk-animation-slide-top-medium" uk-navbar id="main-top">
            <div class="uk-navbar-right ">
                <ul class="uk-navbar-nav">
                    <li><a class="uk-text-primary link-nav" href="/">Acceuil</a></li>
                    <li><a class="uk-text-primary link-nav" href="{{ path('tricks_add_new_tricks') }}">Ajouter un tricks</a></li>
                    <li><a class="uk-text-primary link-nav" href="{{ path('app_logout') }}">Déconnexion</a></li>
                </ul>
            </div>
        </nav> 
        {% set currentUrl = app.request.getRequestUri() %}
        {% if currentUrl == '/tricks/addTricks' %}
            <nav class="uk-navbar-container" uk-navbar id="main-top">
                <div class="uk-navbar-right ">
                    <ul class="uk-navbar-nav">
                        <li><a class="uk-text-primary link-nav" href="/">Acceuil</a></li>
                        <li><a class="uk-text-primary link-nav" href="{{ path('tricks_add_new_tricks') }}">Ajouter un tricks</a></li>
                        <li><a class="uk-text-primary link-nav" href="{{ path('app_logout') }}">Déconnexion</a></li>
                    </ul>
                </div>
            </nav> 
        {% endif %}
    {% else %}
        <nav class="uk-navbar-container uk-position-top uk-animation-slide-top-medium navbar-url" uk-navbar id="main-top">
            <div class="uk-navbar-right ">
                <ul class="uk-navbar-nav">
                    <li><a class="uk-text-primary link-nav" href="/">Acceuil</a></li>
                    <li><a class="uk-text-primary link-nav" href="{{ path('app_login') }}">Connexion</a></li>
                    <li><a class="uk-text-background link-nav" href="{{ path('app_register') }}">S'enregistrer</a></li>
                </ul>
            </div>
        </nav> 
    {% endif %}  

    

    

{% endblock %}