{% extends 'base.html.twig' %}

{% block title %}Ajouter un nouveau tricks{% endblock %}

{% block body %}

<div class="bloc-form-add-trick">

    {{ form_start(tricksForm, {'attr' : {'class': 'form-add-tricks uk-box-shadow-medium uk-animation-slide-right-small'}}) }}
        <div class="bloc-trick-form">
            {{ form_label(tricksForm.tricks_name) }}
            {{ form_widget(tricksForm.tricks_name) }}
        </div>

        <div class="bloc-trick-form">
            {{ form_label(tricksForm.tricks_description) }}
            {{ form_widget(tricksForm.tricks_description) }}
        </div>

        <div class="bloc-trick-form">
            {{ form_label(tricksForm.category) }}
            {{ form_widget(tricksForm.category) }}
        </div>
                
        {#<div id="mediaTricksContainer"></div>
        <button type="button" data-index="{{ tricksForm.media_tricks|length }}" id="add-media-button">Ajouter un fichier</button>#}

        <div id="media-container" data-prototype="{{ form_row(tricksForm.media_tricks.vars.prototype)|e }}">
        {% for mediaForm in tricksForm.media_tricks %}
            <div class="media">
                {{ form_row(mediaForm) }}
            </div>
        {% endfor %}
        </div>

        <div id="video-container" data-prototype="{{ form_row(tricksForm.video_tricks.vars.prototype)|e }}">
        {% for videoForm in tricksForm.video_tricks %}
            <div class="video_form">
                {{ form_row(videoForm) }}
            </div>
        {% endfor %}
        </div>

        <div class="bloc-trick-form">
            <button type="button" class="add-media uk-button">Ajouter un média</button>
        </div>

        <div class="bloc-trick-form">
            <button type="button" class="add-video uk-button">Ajouter une vidéo</button>
        </div>

        
        

        
        <button class="uk-button uk-button-primary" type="submit">
            Ajouter mon tricks
        </button>
    {{ form_end(tricksForm) }}
</div>


{% endblock %}

{% block javascripts %}
    <script src="{{ asset('assets/js/nested-form.js') }}" defer></script>
{% endblock %}