{% extends 'base_tricks_interaction.html.twig' %}

{% block title %}Ajouter un nouveau tricks{% endblock %}

{% block body %}

<div class="bloc-form-add-trick">

    <div uk-alert class="notice-add">
        <h3>Notice</h3>
        <p>Une image minimum est obligatoire pour posté votre tricks</p>
        <a class="uk-alert-close" uk-close></a>
    </div>

    {{ form_start(tricksForm, {'attr' : {'class': 'form-add-tricks uk-box-shadow-medium uk-animation-slide-right-small'}}) }}
        <div class="bloc-trick-form">
            {{ form_label(tricksForm.tricks_name) }}
            {{ form_widget(tricksForm.tricks_name) }}
        </div>

        <div class="bloc-trick-form">
            {{ form_label(tricksForm.tricks_description) }}
            {{ form_widget(tricksForm.tricks_description) }}
        </div>

        <div class="bloc-trick-form">
            {{ form_label(tricksForm.category) }}
            {{ form_widget(tricksForm.category) }}
        </div>

        <div id="media-container" data-prototype="{{ form_row(tricksForm.media_tricks.vars.prototype)|e }}">
        {% for mediaForm in tricksForm.media_tricks %}
            <div class="media">
                {{ form_row(mediaForm, {'required': true}) }}
            </div>
        {% endfor %}
        </div>

        <div id="video-container" data-prototype="{{ form_row(tricksForm.video_tricks.vars.prototype)|e }}">
        {% for videoForm in tricksForm.video_tricks %}
            <div class="video_form">
                {{ form_row(videoForm) }}
            </div>
        {% endfor %}
        </div>

        <div class="bloc-trick-form">
            <button type="button" class="add-media uk-button">Ajouter un média</button>
        </div>

        <div class="bloc-trick-form">
            <button type="button" class="add-video uk-button">Ajouter une vidéo</button>
        </div>

        <button class="uk-button uk-button-primary btn-sub-tricks" type="submit">
            Ajouter mon tricks
        </button>
    {{ form_end(tricksForm) }}
</div>


{% endblock %}

{% block javascripts %}
    <script src="{{ asset('assets/js/nested-form.js') }}" defer></script>
{% endblock %}