{% extends 'base.html.twig' %}

{% block title %}Ajouter un nouveau tricks{% endblock %}

{% block body %}
<h1>Ajouter un nouveau tricks</h1>
{{ form_start(tricksForm) }}
    {{ form_row(tricksForm.tricks_name) }}
    {{ form_row(tricksForm.tricks_description) }}
    {{ form_row(tricksForm.category) }}
    {#{{ form_row(tricksForm.media_tricks) }}#}

    <div id="mediaTricksContainer"></div>
    <button type="button" data-index="{{ tricksForm.media_tricks|length }}" id="add-media-button">Ajouter un fichier</button>
    
    <button class="uk-button uk-button-primary" type="submit">
        Ajouter mon tricks
    </button>
{{ form_end(tricksForm) }}

{% endblock %}

{% block javascripts %}
    <script src="{{ asset('assets/js/nested-form.js') }}" defer></script>
{% endblock %}