{% extends 'base.html.twig' %}

{% block title %}Tricks{% endblock %}

{% block body %}
<h1>Tricks</h1>
    
    {% for trick in tricks %}
        <div class="uk-card uk-card-default uk-card-body">
            <h3 class="uk-card-title">{{trick.tricksName}}</h3>
            <p>{{trick.tricksDescription}}</p>
            <p>{{trick.tricksCreatedAt|date('d-m-Y H:i:s')}}</p>
            {% for media in trick.MediaTricks %}
            <div class="uk-card-media-top">
                <img src="{{ asset('assets/uploads/media_tricks/mini/300x300-' ~ media.mediaName) }}" 
                alt="{{trick.tricksName}}">
            </div>
            {% endfor %}
        </div>
    {% endfor %}
    
{% endblock %}
