{% extends 'base.html.twig' %}

{% block title %}{{tricksSelected.TricksName}}{% endblock %}

{% block body %} 

    <div class="container-main">

        <div class="v-slider-bloc bloc-1 read-bloc-1">

            <div class="bloc-item-tricks-1">

                <div class="bloc-img-first uk-inline">
                    {% for media in tricksSelected.MediaTricks %}
                        {% if loop.first %}
                            <img src="{{ asset('assets/uploads/media_tricks/' ~ media.mediaName) }}" alt="">
                            <div class="uk-overlay uk-dark uk-position-center">
                                <p class="uk-text-secondary">{{ tricksSelected.TricksName }}</p>
                            </div>
                        {% endif %}
                    {% endfor %}
                </div>
            
                <div class="caroussel">

                    <div class="uk-position-relative uk-visible-toggle uk-dark" tabindex="-1" uk-slider="center: true">

                        <ul class="uk-slider-items uk-child-width-1-2 uk-child-width-1-3@s uk-child-width-1-4@m">
                            {% for media in tricksSelected.MediaTricks %}
                                <li>
                                    <img src="{{ asset('assets/uploads/media_tricks/mini/300x300-' ~ media.mediaName) }}" width="200" height="100" alt="">
                                </li>
                            {% endfor %}   
                             {% if tricksSelected.VideoTricks %}
                                {% for video in tricksSelected.VideoTricks %}
                                    <li>
                                        <iframe src={{video.videoUrl}} frameborder="0" width="200" height="200"></iframe>
                                    </li>
                                {% endfor %}
                            {% endif %} 
                        </ul>

                        <a class="uk-position-center-left uk-position-small uk-hidden-hover" href="#" uk-slidenav-previous uk-slider-item="previous"></a>
                        <a class="uk-position-center-right uk-position-small uk-hidden-hover" href="#" uk-slidenav-next uk-slider-item="next"></a>

                    </div>

                </div> 

            </div>

            <div class="bloc-item-tricks-2">

                <div class="blc-article">
                    <div class="article uk-card uk-card-default">
                        <div class="uk-card-header">
                            <h3> {{tricksSelected.TricksName}} </h3>
                        </div>

                        <div class="uk-card-body">
                            <p class="uk-text-default">{{ tricksSelected.TricksDescription }}</p>
                        </div>

                        <div class="uk-card-footer">
                            <a href="#bloc-comment" class="uk-button uk-button-text" uk-scroll> il y'a {{ tricksSelected.Comment | length }} commentaires  </a>
                            <span class="uk-badge">posté le : {{ tricksSelected.TricksCreatedAt | date("d/m/y H:i:s") }}</span>
                            <span class="uk-badge">créer par : {{ tricksSelected.User.Username }}</span>
                        </div>
                    </div>
                </div>
                
            </div>

        </div>
        
        <div class="v-slider-bloc bloc-2" id="bloc-comment">
        {% if app.user %}
            <div class="bloc-form-comment">
                {{ form_start(commentForm, {'attr': {'class':'uk-form-horizontal form-comment'}}) }}
                    {{form_row(commentForm.comment_tricks)}}
                    <button type="submit" class="uk-button uk-button-primary">Ajouter</button>
                {{ form_end(commentForm) }}
            </div>
        {% else %}
            <div class="bloc-form-comment">
                <p uk-margin>
                    <a class="uk-button uk-button-primary" href="{{ path('app_login') }}">Veuillez vous inscrire ou vous connecter</a>
                </p>
            </div>
        {% endif %}
        
            

            <div class="bloc-comment">

                {#{% for comment in commentPaginate.data %}
                    <div class="card-comment">
                        <div class="card-comment-header">
                            <h3>Auteur : <b>{{comment.user.username}}</b> </h3>
                            <p> posté le : <em>{{comment.commentCreatedAt | date("d/m/y H:i:s") }}</em></p>
                        </div>
                        <hr>
                        <div class="card-comment-body">
                            <p> <b>commentaire :</b> </p>
                            <p class="paragraph-comment">{{comment.commentTricks}}</p>
                        </div>
                    </div>
                {% endfor %}#}

                
            </div>
            <div id="containerPagination"></div>
                {#{% set path = 'tricks_read_tricks' %}
                {% set id_tricks = tricksSelected.id %}
                {% set pages = commentPaginate.pages %}
                {% set currentPage = commentPaginate.page %}
                {% include "_partials/_pagination.html.twig" %}#}
        </div>
    
    </div>

{% endblock %}

{% block javascripts %}
    <script src="{{ asset('assets/js/paginate-comment.js') }}" defer></script>
{% endblock %}